<h1>Search Dog Images by Breed</h1>

<%= render 'search_form' %>

<% if flash.now[:error].present? %>
  <p style="color: red; font-weight: bold;"><%= flash.now[:error] %></p>
<% else %>
  <% if @breed_images.any? %>
    <% @breed_images.each do |image| %>
      <%= image_tag image.url %>
      <p>Breed: <%= image.breed.name %></p>
    <% end %>
    <%= paginate @breed_images %>
  <% else %>
    <p>No images available for this breed.</p>
  <% end %>
<% end %>
