
<%= form_with url: search_breeds_path, method: :get, local: true do |f| %>
  <%= f.label :breed_name, "Search for a Breed:" %>
  <%= f.text_field :breed_name %>
  <%= f.submit "Search" %>
<% end %>
<% if flash[:error].present? %>
  <div class="alert alert-danger" style="color: red; font-weight: bold;">
    <%= flash[:error] %>
  </div>
<% end %>


<% if @breed %>
  <h2><%= @breed.name %></h2>

  <h3>Sub-breeds:</h3>
  <ul>
    <% @sub_breeds.each do |sub_breed| %>
      <li><%= sub_breed.name %></li>
    <% end %>
  </ul>

  <% if @random_image %>
    <h3>Random Image:</h3>
    <%= image_tag @random_image.url %>
  <% end %>
<% else %>
  <!-- Handle the case where no breed is found -->
  <p>No breed found by that name.</p>
<% end %>
